flows/learnWorkflow.json
[
  {
    "id": "1a2b3c4d5e6f",
    "type": "tab",
    "label": "Learning Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject1",
    "type": "inject",
    "z": "1a2b3c4d5e6f",
    "name": "Click Me",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "Hello from Node-RED!",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "function1"
      ]
    ]
  },
  {
    "id": "function1",
    "type": "function",
    "z": "1a2b3c4d5e6f",
    "name": "Add Timestamp",
    "func": "msg.payload = {\n    message: msg.payload,\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [
      [
        "debug1"
      ]
    ]
  },
  {
    "id": "debug1",
    "type": "debug",
    "z": "1a2b3c4d5e6f",
    "name": "See Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 580,
    "y": 120,
    "wires": []
  }
]